@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Fraunces 144pt';
  src: url('../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Font Families */
  --ff-fraunces: 'Fraunces', serif;
  --ff-fraunces-144pt: 'Fraunces 144pt', serif;
  --ff-manrope: 'Manrope', sans-serif;

  /* Colors */
  --clr-white: hsl(0, 100%, 100%);
  --clr-purple-100: hsl(274, 100%, 99%);
  --clr-purple-500: hsl(271, 12%, 34%);
  --clr-purple-900: hsl(273, 85%, 13%);
  --clr-green: hsl(150, 100%, 63%);

  /* Spacings */
  --spacing-100: .5rem;
  --spacing-150: .75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem; 
  --spacing-350: 1.75rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-550: 2.75rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1100: 5.5rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
  --spacing-2100: 10.5rem;
  --spacing-3700: 18.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--clr-purple-100);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--ff-manrope);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  background-color: none;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: none;
}

.button {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 700;
  padding: .75rem 2rem;
  background-color: var(--clr-green);
  color: var(--clr-purple-900);
}

.container {
  width: calc(100% - 2.5rem);
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .container {
    width: 42.5rem;
  }
}

@media (min-width: 80rem) {
  .container {
    width: 70rem;
  }
}

.header {
  background-color: var(--clr-purple-900);
  color: var(--clr-white);
  position: relative;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-400);
}

.navbar__btn {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  border-bottom: 3px solid var(--clr-green);
}

.hero__container {
  padding-top: var(--spacing-700);
  padding-bottom: var(--spacing-2100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__title {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  font-family: var(--ff-fraunces-144pt);
}

.hero__title--span {
  position: relative;
}

.hero__title--span::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--clr-green);
}

.hero__button {
  margin-top: var(--spacing-500);
}

.hero__img-container {
  width: 20rem;
  height: 11.5rem;
  position: absolute;
  bottom: -80px;
  z-index: 2;
}

.hero__img {
  width: 100%;
  height: 100%;
}

.hero__ornamental {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; 
  z-index: 1;
}